<div class="footer_mobile">
  <div class="footer_main">
    <div>
      <a id="drop1" href="/merchant/update-order-status">
        <i class="fa fa-list-alt foot-icon"></i>
        <!-- <i class="fa fa-exclamation-triangle foot-icon"></i> -->
      </a>
    </div>
    <div>
      <a id="drop2" href="/merchant/video_list/{{currentUser.profile_id}}">
        <i class="fa fa-globe foot-icon"></i>
        <!-- <i class="icon-plus"></i> -->
      </a>
    </div>
    <div>
      <a id="drop3" href="/common/message">
        <i class="icon-message  foot-icon"></i>
        <!-- <i class="icon-mail2  foot-icon"></i> -->
      </a>
    </div>
  </div>
</div>