<!-- <ion-content> -->
  <div class="main_wrapper" >
    <app-merch-header></app-merch-header>
    <app-merch-sidemenu></app-merch-sidemenu>
    <div class="dashboard-wrapper h-100">
      <div class="container-fluid h-100">
<!-- <ion-content> -->
<!-- ********************************************************************************************** -->
  <!-- Top Bar Starts -->
   <!-- Dashboard Wrapper Start -->
   <div class="dashboard-wrapper">

    <!-- Container fluid Starts -->
    <div class="container-fluid">
        <!-- Top Bar Starts -->

        <div class="row">
            <div class="col-lg-9">
                <div class="chat_mg_main pr-0 pb-0">
                    <div class="row no-gutters">
                        <div class="col-md-4 mb-0 col-xs-12">
                            <div>

                                <div class="d-flex align-items-center pb-3 mb-2  cht_mh_1 bb_1 pr-3">
                                    <div class="flx_1">
                                        <div class="page-title">
                                            <h3 class="txt_black_2 mb-0">Message</h3>
                                        </div>
                                    </div>
                                    <div class="flx_0 d-flex align-items-center">
                    <a href="chat-Message2.html"><i class="fa new_msg_icon fa-pencil-square-o txt_black_2"></i></a>
                                    </div>

                                </div>

                                <div class="pb-3">
                                    <div class="search_panel bg_s_1">
                                        <input type="text" placeholder="Search" />
                                        <i
                                            class="fa fa-search d-flex align-items-center justify-content-center"></i>

                                    </div>
                                </div>

                                <div class="chat_pro message_chat_list ripple_effect p-0 bt_0">


                                    <ul>
                                        <li class="unread_msg">
                                            <div class="d-flex">
                                                <div class="flx_1 ellips_txt">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flx_0 pr-2">
                                                            <div class="chat_user_prof">
                                                                <img src="../../../assets/images/profile_user.jpg" class="c_img"
                                                                    alt="">
                                                            </div>
                                                        </div>
                                                        <div class="flx_1 line_n ellips_txt">
                                                            <b class="d-block c_name pb-0 ellips_txt">sample
                                                                username</b>
                                                            <span class="chat_org_title d-block"> Admin Support
                                                            </span>
                                                            <span class="c_msg pr-1 ellips_txt"> sample msg</span>

                                                            <span class="tick_img pl-2">

                                                                <img src="../../../assets/images/tick.png" class="tick_unread"
                                                                    alt="" />
                                                                <img src="../../../assets/images/tick-read.png" class="tick_read"
                                                                    alt="" />
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="flx_0 text-center">
                                                    <span class="c_time d-block">1 day ago</span>
                                                    <span class="unread_cnt">3</span>

                                                </div>
                                            </div>

                                        </li>
                                        <li class="read_msg">
                                            <div class="d-flex">
                                                <div class="flx_1 ellips_txt">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flx_0 pr-2">
                                                            <div class="chat_user_prof">
                                                                <img src="../../../assets/images/profile_user.jpg" class="c_img"
                                                                    alt="">
                                                            </div>
                                                        </div>
                                                        <div class="flx_1 line_n ellips_txt">
                                                            <b class="d-block c_name pb-0 ellips_txt">sample
                                                                username</b>
                                                            <span class="chat_org_title d-block"> Admin Support
                                                            </span>
                                                            <span class="c_msg pr-1 ellips_txt"> sample msg</span>
                                                            <span class="tick_img pl-2">
                                                                <img src="../../../assets/images/tick.png" class="tick_unread"
                                                                    alt="" />
                                                                <img src="../../../assets/images/tick-read.png" class="tick_read"
                                                                    alt="" />
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flx_0 text-center">
                                                    <span class="c_time d-block">1 day ago</span>


                                                </div>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-8">

                            <div class="cv_1 bb_1 cht_mh_1 pb-2">
                                <div class="d-flex">
                                    <div class="flx_1 ellips_txt">
                                        <div class="d-flex align-items-center">
                                            <div class="flx_0 pr-2">
                                                <div class="prof_img_1">
                                                    <img src="../../../assets/images/profile_user.jpg" class="c_img" alt="">
                                                </div>
                                            </div>
                                            <div class="flx_1 line_n ellips_txt">
                                                <b class="d-block c_name pb-0 ellips_txt">sample username</b>
                                                <span class="chat_org_title d-block"> Admin Support </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flx_0 text-center pt-1">
                                        <span class="brad_1 text_black btn_yellow mr-2 btn-ripple">End</span>

                                    </div>
                                </div>
                            </div>

                            <div class="cv_2 bt_0 mt-0 d-flex flex-column p-3">
                                <div class="cv_left">
                                    <div class="d-inline-flex justify-content-start mb-2">
                                        <div class="flx_0 chat_txt_w">
                                            <div class="panel">
                                                <h5 class="task-name text-red mb-0 pb-0 shadow_none">Sample Name -
                                                    147</h5>
                                                <p>
                                                    Lorem Ipsum is simply dummy text of the printing
                                                </p>
                                                <div class="text-right">
                                                    <span class="chat_msg_time ">02:12AM</span>
                                                    <span class="chat_msg_time bl_1 pl-1 ml-1">1 day ago</span>
                                                    <span class="tick_img pl-3">
                                                        <img src="../../../assets/images/tick.png" class="tick_unread" alt="">
                                                        <img src="../../../assets/images/tick-read.png" class="tick_read" alt="">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cv_right text-right">
                                    <div class="d-inline-flex justify-content-end mb-2 text-left">
                                        <div class="flx_0 chat_txt_w">
                                            <div class="panel">
                                                <h5 class="task-name text-green mb-0 pb-0 shadow_none">Sample Name -
                                                    147</h5>
                                                <p>
                                                    Lorem Ipsum is simply dummy text of the
                                                </p>
                                                <div class="text-left">
                                                    <span class="chat_msg_time ">02:12AM</span>
                                                    <span class="chat_msg_time bl_1 pl-1 ml-1">1 day ago</span>
                                                    <span class="tick_img pl-3">
                                                        <img src="../../../assets/images/tick.png" class="tick_unread" alt="">
                                                        <img src="../../../assets/images/tick-read.png" class="tick_read" alt="">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="chat_msg_box">
                                <div class="pb-3">
                                    <textarea placeholder="Message Here" name=""
                                        class="chat_input brad_0 w-100"></textarea>
                                </div>
                                <div class="d-flex pl-5 pr-5 align-items-center">
                                    <div class="flx_1">
                                        <i class="fa fa-map-marker chat_file txt_black pr-2 icn_2x"></i>
                                        <i class="fa fa-picture-o txt_black icn_2x"></i>
                                    </div>

                                    <div class="flx_0">
                                        <button class="sendBtn"><i class="fa fa-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ads_box ml-2 txt_bold d-flex align-items-center justify-content-center"
                    style="height: 400px;">
                    Advertisment
                </div>
            </div>
        </div>



    </div>
    <!-- Container fluid ends -->

</div>
<!-- Dashboard Wrapper End -->




<!-- ********************************************************************************************** -->
<!-- <ion-content> -->   
      </div>
    </div>
  </div>
<!-- </ion-content> -->