#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}



.warning {
  background: gainsboro;
  color: red !important;
  padding: 7px;
  font-size: 12px;
}


#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


input.largerCheckbox {
  width : 20px;
  height :20px;
}

.loading_input{
  position:relative;
}
.load_input{
  position: absolute;
top: 11px;
right: 8px;
}
.cursor-pointer{
    cursor:pointer
}
.cls_address{
    font-size:23px;
}