<div class="container-fluid">

  <!-- Top Bar Starts -->
  <div class="top-bar clearfix">
     <div class="row gutter">
         <div class="col-lg-12">
             <div class="page-title">
                 <h3>Post Product</h3>
             </div>
         </div>

     </div>
 </div>
 <!-- Top Bar Ends -->

 <div class="d-flex align-items-center justify-content-center flex-row">
     <div class="text-center pr-3 pl-3">
         <a href="merchant/product-add">
         <span class="cart_icon d-inline-flex align-items-center justify-content-center">
             <i class="icon-shopping-cart"></i>
         </span>
         <h5>Add New Product</h5>
     </a>
     </div>
     <div class="text-center pr-3 pl-3">
         <a href="merchant/products-list">
         <span class="cart_icon d-inline-flex align-items-center justify-content-center">
             <i class="icon-shopping-cart"></i>
         </span>
         <h5>View Products</h5>
     </a>
     </div>
 </div>
</div>
