.ng-autocomplete {
    width: 100%;
}

.warning {
    background: gainsboro;
    color: red !important;
    padding: 7px;
    font-size: 12px;
}


.panel {
    border: 1px solid #ffffff !important;
    background-color: #2a303900 !important;
}

.loading_input{
    position:relative;
  }
  .load_input{
    position: absolute;
  top: 11px;
  right: 8px;
  }
  .cursor-pointer{
      cursor:pointer
  }

  .hide {
    background-color:gray;
    border-color: gray;
    color: #ffffff;
}