<section class="home_fix_row h-100 home_pb_1 login_page bg_shape">
  <div class="wrapper_2 header_top w-100">
      <div class="row w-100 align-items-center">
          <div class="col-sm-6 bg-white text-center text-sm-left">
              <div class="logo_home pt-2">
                  <img src="../../../assets/../../../assets/images/logo_new.png" />
              </div>
          </div>
          <div class="text-center txt_bold text-sm-right text_black col-sm-6">
              <a (click)="action1()" class="pr-3">Home</a> |
              <a (click)="action2()"class="pr-3 pl-3">Login</a> |
              <a (click)="action3()" class="pl-3">Join now</a>
          </div>
      </div>
  </div>
  <div class="slider_fix wrapper_2">
      <div class="row align-items-center">
          <div class="col-md-5">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="hr_right home_form_list cus_pt_1">
                      <h4 class="text-white shadow_none pb-2">
                          Login - (M)
                      </h4>
                      <div class="form-group">
                          <label class="control-label text-white">Username</label>
                          <div class="loading_input">
                              <input type="email" formControlName="email" class="form-control input_2"
                                  (keyup)="searchInterest()" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                  placeholder="Email" />
                              <div class="load_input spinner-border-sm spinner-border" *ngIf="email_loader"></div>
                          </div>

                          <div class="warning" *ngIf="email_error">
                              No account found
                          </div>
                          <div *ngIf="submitted && f.email.errors" class="warning">
                              <div *ngIf="f.email.errors.required">Email is required</div>
                              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                              <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label text-white">Password</label>
                          <div class="loading_input">
                              <input type="password" formControlName="password" class="form-control input_2"
                                  (keyup)="searchInterest1()"
                                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password">
                              <div class="load_input spinner-border-sm spinner-border" *ngIf="pass_loader"></div>
                          </div>
                          <div class="warning" *ngIf="password_error">
                              {{password_error_msg}}
                          </div>
                          <div *ngIf="submitted && f.password.errors" class="warning">
                              <div *ngIf="f.password.errors.required">Password is required</div>
                          </div>
                      </div>
                      <div>
                          <button type="submit" class="btn btn-info w-100">Submit</button>
                      </div>
                      <div class="pt-3 text-right">
                          <a class="text-white" href="account/forgot-password">Forget Password</a>
                      </div>
                  </div>
              </form>
          </div>
          <div class="col-md-6 offset-md-1 pt-5 d-flex justify-content-center">
              <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                  <div class="carousel-inner slide_column d-flex align-items-center justify-content-center">
                      <div class="carousel-item active">
                          <img class="d-block w-100" src="../../../assets/images/home_slider_1.png" alt="First slide">
                          <h4 class="text-center slider_info">HOME KITCHEN</h4>
                      </div>

                      <div class="carousel-item">
                          <img class="d-block w-100" src="../../../assets/images/home_slider_2.png" alt="First slide">
                          <h4 class="text-center slider_info">PASTRY</h4>
                      </div>


                      <div class="carousel-item">
                          <img class="d-block w-100" src="../../../assets/images/home_slider_4.png" alt="First slide">
                          <h4 class="text-center slider_info">RESTAURANTS</h4>
                      </div>
                      <div class="carousel-item">
                          <img class="d-block w-100" src="../../../assets/images/home_slider_5.png" alt="First slide">
                          <h4 class="text-center slider_info">SERVICE</h4>
                      </div>
                      <div class="carousel-item">
                          <img class="d-block w-100" src="../../../assets/images/home_slider_3.png" alt="First slide">
                          <h4 class="text-center slider_info">PASTRY</h4>
                      </div>
                      <div class="carousel-item">
                          <img class="d-block w-100" src="../../../assets/images/home_slider_6.png" alt="First slide">
                          <h4 class="text-center slider_info">HOME KITCHEN</h4>
                      </div>
                      <div class="carousel-item">
                          <img class="d-block w-100" src="../../../assets/images/home_slider_7.png" alt="First slide">
                          <h4 class="text-center slider_info">RESTAURANTS</h4>
                      </div>
                      <div class="carousel-item">
                          <img class="d-block w-100" src="../../../assets/images/home_slider_8.png" alt="First slide">
                          <h4 class="text-center slider_info">SHOPS</h4>
                      </div>



                  </div>
              </div>
          </div>
      </div>

  </div>
</section>

<div class="footer_bg">
  <div class="wrapper_2">
      <div class="row">
          <div class="col-lg-3 col-sm-6">
              <div class="pt-4 pb-4">
                  <img src="../../../assets/images/logo_new_2.png" class="footer_img" alt="" />
                  <p class="pt-2">2021 @ All Rights Reserved </p>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="pt-4 pb-4">
                  <h4>Support</h4>
                  <ul>
                      <li>
                          <a href="#">FAQ</a>
                      </li>
                      <li>
                          <a href="#">Terms & Conditions</a>
                      </li>
                      <li>
                          <a href="#">Customer Support</a>
                      </li>
                      <li>
                          <a href="#">Online Support</a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="pt-4 pb-4">
                  <h4>Contact</h4>
                  <ul>
                      <li>
                          +93 1541578
                      </li>
                      <li>
                          sample@gmail.com
                      </li>
                      <li>
                          sample addres heree
                      </li>

                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 footer_social">
              <div class="pt-4 pb-4">
                  <h4>Follow us</h4>
                  <ul>
                      <li>
                          <a href="#">
                              <i class="fa fa-facebook"></i>
                          </a>
                          <a href="#">
                              <i class="fa fa-instagram"></i>
                          </a>
                          <a href="#">
                              <i class="fa fa-youtube-play"></i>
                          </a>
                      </li>


                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>








