<!-- <ion-content> -->
  <div class="main_wrapper" >
    <app-merch-header></app-merch-header>
    <app-merch-sidemenu></app-merch-sidemenu>
    <div class="dashboard-wrapper h-100">
      <div class="container-fluid h-100">
<!-- <ion-content> -->
<!-- ********************************************************************************************** -->
  <!-- Top Bar Starts -->


     <!-- Dashboard Wrapper Start -->
     <div class="dashboard-wrapper">
      <!-- Container fluid Starts -->

      <div class="vn_1">
          <section class="video_row_1 position-relative">
              <div class="vr_img_view">
                  <img class="changeImage" src="../../../assets/../../../assets/images/slider-8-1.jpg" alt="" />
              </div>
              <div class="vr_info_img row align-items-start">
                  <div class="col-lg-6 text-center vr_left_info">
                      <h1 class="title_vr">
                          American <br />
                          Made
                      </h1>
                      <div class="pt-2 d-flex align-items-center justify-content-center">
                          <a href="video-video-page-new.html" class="btn btn-primary watch_btn mr-3">Watch Now</a>

                          <a href="#" class="av_btn">+ Add Video</a>
                      </div>
                  </div>

                  <div class="col-lg-6">
                      <h5 class="vr_txt_5">Top Trendings</h5>

                      <div class="row grid_vr ChangeImageEvent">
                          <div class="col-lg-4 col-sm-6 video_col">
                              <div class="position-relative d-block">
                                  <img class="vr_thum_img" src="../../../assets/images/slider-8-1.jpg" alt="" />

                                  <div class="vr_action">
                                      <div class="dropdown">
                                          <div class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i></div>
                                          <div class="dropdown-menu">
                                              <span class="dropdown-item unpublish" href="#">Unpublish</span>
                                              <span class="dropdown-item RemoveVideo" href="#">Remove</span>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="vr_unpub flow_hide">
                                      <div class="d-flex w-100 h-100 align-items-center justify-content-center">
                                          <span>
                                              unpublished by <br />
                                              admin
                                          </span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-sm-6 video_col">
                              <div class="position-relative d-block">
                                  <img class="vr_thum_img" src="../../../assets/images/slider-4-1.jpg" alt="" />

                                  <div class="vr_action">
                                      <div class="dropdown">
                                          <div class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i></div>
                                          <div class="dropdown-menu">
                                              <span class="dropdown-item unpublish" href="#">Unpublish</span>
                                              <span class="dropdown-item RemoveVideo" href="#">Remove</span>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="vr_unpub flow_hide">
                                      <div class="d-flex w-100 h-100 align-items-center justify-content-center">
                                          <span>
                                              unpublished by <br />
                                              admin
                                          </span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-sm-6 video_col">
                              <div class="position-relative d-block">
                                  <img class="vr_thum_img" src="../../../assets/images/slider-4-1.jpg" alt="" />

                                  <div class="vr_action">
                                      <div class="dropdown">
                                          <div class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i></div>
                                          <div class="dropdown-menu">
                                              <span class="dropdown-item unpublish" href="#">Unpublish</span>
                                              <span class="dropdown-item RemoveVideo" href="#">Remove</span>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="vr_unpub flow_hide">
                                      <div class="d-flex w-100 h-100 align-items-center justify-content-center">
                                          <span>
                                              unpublished by <br />
                                              admin
                                          </span>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="col-lg-4 col-sm-6">
                              <span>
                                  <img class="vr_thum_img" src="../../../assets/images/slider-8-1.jpg" alt="" />
                              </span>
                          </div>
                          <div class="col-lg-4 col-sm-6">
                              <span>
                                  <img class="vr_thum_img" src="../../../assets/images/slider-1-1.jpg" alt="" />
                              </span>
                          </div>
                          <div class="col-lg-4 col-sm-6">
                              <span>
                                  <img class="vr_thum_img" src="../../../assets/images/slider-4-1.jpg" alt="" />
                              </span>
                          </div>
                          <div class="col-lg-4 col-sm-6">
                              <span>
                                  <img class="vr_thum_img" src="../../../assets/images/slider-1-1.jpg" alt="" />
                              </span>
                          </div>
                          <div class="col-lg-4 col-sm-6">
                              <span>
                                  <img class="vr_thum_img" src="../../../assets/images/slider-4-1.jpg" alt="" />
                              </span>
                          </div>
                          <div class="col-lg-4 col-sm-6 text-center d-flex align-items-center justify-content-center">
                              <h2 class="vr_txt_5 cursor-pointer AllVideoBtn">
                                  All <br />
                                  Videos
                              </h2>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!-- Top Trendings All Video start -->

          <section class="video_row_4 bg_dark AllVideoList flow_hide">
              <div class="vr_2_video">
                  <div class="row">
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <a href="video-video-page-new.html" class="d-block">
                              <div class="video_tag">
                                  <span>India</span>
                              </div>
                              <figure class="vr_img_2">
                                  <img src="../../../assets/images/video-thumb-1.jpg" alt="" />
                              </figure>
                              <div class="row vl_info">
                                  <div class="col-8">
                                      <h5 class="vr_txt_3">Delta Bravo</h5>
                                  </div>
                                  <div class="col-4">
                                      <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                          <i class="fa fa-heart-o txt_white pr-1"></i>
                                          <span>53</span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <a href="video-video-page-new.html" class="d-block">
                              <div class="video_tag">
                                  <span>India</span>
                              </div>
                              <figure class="vr_img_2">
                                  <img src="../../../assets/images/video-thumb-2.jpg" alt="" />
                              </figure>
                              <div class="row vl_info">
                                  <div class="col-8">
                                      <h5 class="vr_txt_3">Delta Bravo</h5>
                                  </div>
                                  <div class="col-4">
                                      <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                          <i class="fa fa-heart-o txt_white pr-1"></i>
                                          <span>53</span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <a href="video-video-page-new.html" class="d-block">
                              <div class="video_tag">
                                  <span>India</span>
                              </div>
                              <figure class="vr_img_2">
                                  <img src="../../../assets/images/video-thumb-1.jpg" alt="" />
                              </figure>
                              <div class="row vl_info">
                                  <div class="col-8">
                                      <h5 class="vr_txt_3">Delta Bravo</h5>
                                  </div>
                                  <div class="col-4">
                                      <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                          <i class="fa fa-heart-o txt_white pr-1"></i>
                                          <span>53</span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <a href="video-video-page-new.html" class="d-block">
                              <div class="video_tag">
                                  <span>India</span>
                              </div>
                              <figure class="vr_img_2">
                                  <img src="../../../assets/images/video-thumb-2.jpg" alt="" />
                              </figure>
                              <div class="row vl_info">
                                  <div class="col-8">
                                      <h5 class="vr_txt_3">Delta Bravo</h5>
                                  </div>
                                  <div class="col-4">
                                      <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                          <i class="fa fa-heart-o txt_white pr-1"></i>
                                          <span>53</span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <a href="video-video-page-new.html" class="d-block">
                              <div class="video_tag">
                                  <span>India</span>
                              </div>
                              <figure class="vr_img_2">
                                  <img src="../../../assets/images/video-thumb-1.jpg" alt="" />
                              </figure>
                              <div class="row vl_info">
                                  <div class="col-8">
                                      <h5 class="vr_txt_3">Delta Bravo</h5>
                                  </div>
                                  <div class="col-4">
                                      <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                          <i class="fa fa-heart-o txt_white pr-1"></i>
                                          <span>53</span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <a href="video-video-page-new.html" class="d-block">
                              <div class="video_tag">
                                  <span>India</span>
                              </div>
                              <figure class="vr_img_2">
                                  <img src="../../../assets/images/video-thumb-2.jpg" alt="" />
                              </figure>
                              <div class="row vl_info">
                                  <div class="col-8">
                                      <h5 class="vr_txt_3">Delta Bravo</h5>
                                  </div>
                                  <div class="col-4">
                                      <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                          <i class="fa fa-heart-o txt_white pr-1"></i>
                                          <span>53</span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>

              <div class="view_more_video">
                  <button class="view_more_video_btn">+ View More</button>
              </div>
          </section>

          <!-- Top Trendings All Video End -->

          <!-- My Video Start -->

          <section class="video_row_2 bg_dark">
              <div class="vr_2_video">
                  <div class="row">
                      <div class="col-lg-4 col-md-3 col-sm-6 col-12 align-items-center d-flex">
                          <h2 class="vr_txt_4">
                              My <br />
                              Videos
                          </h2>
                      </div>

                      <div class="col-lg-2 col-md-3 col-sm-6 col-12 video_col video_col_2">
                          <div class="vr_action">
                              <div class="dropdown">
                                  <div class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i></div>
                                  <div class="dropdown-menu">
                                      <span class="dropdown-item unpublish" href="#">Unpublish</span>
                                      <span class="dropdown-item RemoveVideo" href="#">Remove</span>
                                  </div>
                              </div>
                          </div>

                          <div class="vr_unpub flow_hide">
                              <div class="d-flex w-100 h-100 align-items-center justify-content-center">
                                  <span>
                                      unpublished by <br />
                                      admin
                                  </span>
                              </div>
                          </div>
                          <a href="video-video-page-new.html" class="d-block">
                              <div class="video_tag">
                                  <span>India</span>
                              </div>

                              <figure class="vr_img_2 position-relative">
                                  <img src="../../../assets/images/video-thumb-1.jpg" alt="" />
                                  <div class="video_view_cnt"><i class="fa fa-eye"></i> 25</div>
                              </figure>
                              <div class="row vl_info">
                                  <div class="col-8">
                                      <h5 class="vr_txt_3">Delta Bravo</h5>
                                  </div>
                                  <div class="col-4">
                                      <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                          <i class="fa fa-heart heart_active txt_white pr-1"></i>
                                          <span>53</span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-12 video_col video_col_2">
                          <div class="vr_action">
                              <div class="dropdown">
                                  <div class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i></div>
                                  <div class="dropdown-menu">
                                      <span class="dropdown-item unpublish" href="#">Unpublish</span>
                                      <span class="dropdown-item RemoveVideo" href="#">Remove</span>
                                  </div>
                              </div>
                          </div>

                          <div class="vr_unpub flow_hide">
                              <div class="d-flex w-100 h-100 align-items-center justify-content-center">
                                  <span>
                                      unpublished by <br />
                                      admin
                                  </span>
                              </div>
                          </div>
                          <a href="video-video-page-new.html" class="d-block">
                              <div class="video_tag">
                                  <span>India</span>
                              </div>

                              <figure class="vr_img_2 position-relative">
                                  <img src="../../../assets/images/video-thumb-2.jpg" alt="" />
                                  <div class="video_view_cnt"><i class="fa fa-eye"></i> 25</div>
                              </figure>
                              <div class="row vl_info">
                                  <div class="col-8">
                                      <h5 class="vr_txt_3">Delta Bravo</h5>
                                  </div>
                                  <div class="col-4">
                                      <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                          <i class="fa fa-heart heart_active txt_white pr-1"></i>
                                          <span>53</span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      
                     <div class="col-lg-2 col-md-3 col-sm-6 col-12 video_col video_col_2">
                          <div class="vr_action">
                              <div class="dropdown">
                                  <div class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i></div>
                                  <div class="dropdown-menu">
                                      <span class="dropdown-item unpublish" href="#">Unpublish</span>
                                      <span class="dropdown-item RemoveVideo" href="#">Remove</span>
                                  </div>
                              </div>
                          </div>

                          <div class="vr_unpub flow_hide">
                              <div class="d-flex w-100 h-100 align-items-center justify-content-center">
                                  <span>
                                      unpublished by <br />
                                      admin
                                  </span>
                              </div>
                          </div>
                          <a href="video-video-page-new.html" class="d-block">
                              <div class="video_tag">
                                  <span>India</span>
                              </div>

                              <figure class="vr_img_2 position-relative">
                                  <img src="../../../assets/images/video-thumb-1.jpg" alt="" />
                                  <div class="video_view_cnt"><i class="fa fa-eye"></i> 25</div>
                              </figure>
                              <div class="row vl_info">
                                  <div class="col-8">
                                      <h5 class="vr_txt_3">Delta Bravo</h5>
                                  </div>
                                  <div class="col-4">
                                      <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                          <i class="fa fa-heart heart_active txt_white pr-1"></i>
                                          <span>53</span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <a href="video-video-page-new.html" class="d-block">
                              <div class="video_tag">
                                  <span>India</span>
                              </div>
                              <figure class="vr_img_2">
                                  <img src="../../../assets/images/video-thumb-2.jpg" alt="" />
                              </figure>
                              <div class="row vl_info">
                                  <div class="col-8">
                                      <h5 class="vr_txt_3">Delta Bravo</h5>
                                  </div>
                                  <div class="col-4">
                                      <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                          <i class="fa fa-heart-o txt_white pr-1"></i>
                                          <span>53</span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <a href="video-video-page-new.html" class="d-block">
                              <div class="video_tag">
                                  <span>India</span>
                              </div>
                              <figure class="vr_img_2">
                                  <img src="../../../assets/images/video-thumb-1.jpg" alt="" />
                              </figure>
                              <div class="row vl_info">
                                  <div class="col-8">
                                      <h5 class="vr_txt_3">Delta Bravo</h5>
                                  </div>
                                  <div class="col-4">
                                      <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                          <i class="fa fa-heart-o txt_white pr-1"></i>
                                          <span>53</span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <a href="video-video-page-new.html" class="d-block">
                              <div class="video_tag">
                                  <span>India</span>
                              </div>
                              <figure class="vr_img_2">
                                  <img src="../../../assets/images/video-thumb-2.jpg" alt="" />
                              </figure>
                              <div class="row vl_info">
                                  <div class="col-8">
                                      <h5 class="vr_txt_3">Delta Bravo</h5>
                                  </div>
                                  <div class="col-4">
                                      <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                          <i class="fa fa-heart-o txt_white pr-1"></i>
                                          <span>53</span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <a href="video-video-page-new.html" class="d-block">
                              <div class="video_tag">
                                  <span>India</span>
                              </div>
                              <figure class="vr_img_2">
                                  <img src="../../../assets/images/video-thumb-1.jpg" alt="" />
                              </figure>
                              <div class="row vl_info">
                                  <div class="col-8">
                                      <h5 class="vr_txt_3">Delta Bravo</h5>
                                  </div>
                                  <div class="col-4">
                                      <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                          <i class="fa fa-heart-o txt_white pr-1"></i>
                                          <span>53</span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <a href="video-video-page-new.html" class="d-block">
                              <div class="video_tag">
                                  <span>India</span>
                              </div>
                              <figure class="vr_img_2">
                                  <img src="../../../assets/images/video-thumb-2.jpg" alt="" />
                              </figure>
                              <div class="row vl_info">
                                  <div class="col-8">
                                      <h5 class="vr_txt_3">Delta Bravo</h5>
                                  </div>
                                  <div class="col-4">
                                      <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                          <i class="fa fa-heart-o txt_white pr-1"></i>
                                          <span>53</span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <a href="video-video-page-new.html" class="d-block">
                              <div class="video_tag">
                                  <span>India</span>
                              </div>
                              <figure class="vr_img_2">
                                  <img src="../../../assets/images/video-thumb-1.jpg" alt="" />
                              </figure>
                              <div class="row vl_info">
                                  <div class="col-8">
                                      <h5 class="vr_txt_3">Delta Bravo</h5>
                                  </div>
                                  <div class="col-4">
                                      <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                          <i class="fa fa-heart-o txt_white pr-1"></i>
                                          <span>53</span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <a href="video-video-page-new.html" class="d-block">
                              <div class="video_tag">
                                  <span>India</span>
                              </div>
                              <figure class="vr_img_2">
                                  <img src="../../../assets/images/video-thumb-2.jpg" alt="" />
                              </figure>
                              <div class="row vl_info">
                                  <div class="col-8">
                                      <h5 class="vr_txt_3">Delta Bravo</h5>
                                  </div>
                                  <div class="col-4">
                                      <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                          <i class="fa fa-heart-o txt_white pr-1"></i>
                                          <span>53</span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>

              <div class="view_more_video">
                  <button class="view_more_video_btn">+ View More</button>
              </div>
          </section>

          <!-- My Video End -->

          <!-- All Video Start -->

          <section class="video_row_3 bg_dark">
              <div class="vr_2_video">
                  <div class="row">
                      <div class="col-lg-4 col-md-3 col-sm-6 col-12 align-items-center d-flex">
                          <h2 class="vr_txt_4">
                              All <br />
                              Videos
                          </h2>
                      </div>

                      <div class="col-lg-2 col-md-3 col-sm-6 col-12 video_col video_col_2">
                          <div class="vr_action">
                              <div class="dropdown">
                                  <div class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i></div>
                                  <div class="dropdown-menu">
                                      <span class="dropdown-item unpublish" href="#">Unpublish</span>
                                      <span class="dropdown-item RemoveVideo" href="#">Remove</span>
                                  </div>
                              </div>
                          </div>

                          <div class="vr_unpub flow_hide">
                              <div class="d-flex w-100 h-100 align-items-center justify-content-center">
                                  <span>
                                      unpublished by <br />
                                      admin
                                  </span>
                              </div>
                          </div>
                          <a href="video-video-page-new.html" class="d-block">
                              <div class="video_tag">
                                  <span>India</span>
                              </div>

                              <figure class="vr_img_2 position-relative">
                                  <img src="../../../assets/images/video-thumb-2.jpg" alt="" />
                                  <div class="video_view_cnt"><i class="fa fa-eye"></i> 25</div>
                              </figure>
                              <div class="row vl_info">
                                  <div class="col-8">
                                      <h5 class="vr_txt_3">Delta Bravo</h5>
                                  </div>
                                  <div class="col-4">
                                      <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                          <i class="fa fa-heart heart_active txt_white pr-1"></i>
                                          <span>53</span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                     <div class="col-lg-2 col-md-3 col-sm-6 col-12 video_col video_col_2">
                          <div class="vr_action">
                              <div class="dropdown">
                                  <div class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i></div>
                                  <div class="dropdown-menu">
                                      <span class="dropdown-item unpublish" href="#">Unpublish</span>
                                      <span class="dropdown-item RemoveVideo" href="#">Remove</span>
                                  </div>
                              </div>
                          </div>

                          <div class="vr_unpub flow_hide">
                              <div class="d-flex w-100 h-100 align-items-center justify-content-center">
                                  <span>
                                      unpublished by <br />
                                      admin
                                  </span>
                              </div>
                          </div>
                          <a href="video-video-page-new.html" class="d-block">
                              <div class="video_tag">
                                  <span>India</span>
                              </div>

                              <figure class="vr_img_2 position-relative">
                                  <img src="../../../assets/images/video-thumb-1.jpg" alt="" />
                                  <div class="video_view_cnt"><i class="fa fa-eye"></i> 25</div>
                              </figure>
                              <div class="row vl_info">
                                  <div class="col-8">
                                      <h5 class="vr_txt_3">Delta Bravo</h5>
                                  </div>
                                  <div class="col-4">
                                      <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                          <i class="fa fa-heart heart_active txt_white pr-1"></i>
                                          <span>53</span>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <div class="video_tag">
                              <span>India</span>
                          </div>
                          <figure class="vr_img_2">
                              <img src="../../../assets/images/video-thumb-1.jpg" alt="" />
                          </figure>
                          <div class="row vl_info">
                              <div class="col-8">
                                  <h5 class="vr_txt_3">Delta Bravo</h5>
                              </div>
                              <div class="col-4">
                                  <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                      <i class="fa fa-heart-o txt_white pr-1"></i>
                                      <span>53</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <div class="video_tag">
                              <span>India</span>
                          </div>
                          <figure class="vr_img_2">
                              <img src="../../../assets/images/video-thumb-2.jpg" alt="" />
                          </figure>
                          <div class="row vl_info">
                              <div class="col-8">
                                  <h5 class="vr_txt_3">Delta Bravo</h5>
                              </div>
                              <div class="col-4">
                                  <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                      <i class="fa fa-heart-o txt_white pr-1"></i>
                                      <span>53</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <div class="video_tag">
                              <span>India</span>
                          </div>
                          <figure class="vr_img_2">
                              <img src="../../../assets/images/video-thumb-1.jpg" alt="" />
                          </figure>
                          <div class="row vl_info">
                              <div class="col-8">
                                  <h5 class="vr_txt_3">Delta Bravo</h5>
                              </div>
                              <div class="col-4">
                                  <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                      <i class="fa fa-heart-o txt_white pr-1"></i>
                                      <span>53</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <div class="video_tag">
                              <span>India</span>
                          </div>
                          <figure class="vr_img_2">
                              <img src="../../../assets/images/video-thumb-2.jpg" alt="" />
                          </figure>
                          <div class="row vl_info">
                              <div class="col-8">
                                  <h5 class="vr_txt_3">Delta Bravo</h5>
                              </div>
                              <div class="col-4">
                                  <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                      <i class="fa fa-heart-o txt_white pr-1"></i>
                                      <span>53</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <div class="video_tag">
                              <span>India</span>
                          </div>
                          <figure class="vr_img_2">
                              <img src="../../../assets/images/video-thumb-1.jpg" alt="" />
                          </figure>
                          <div class="row vl_info">
                              <div class="col-8">
                                  <h5 class="vr_txt_3">Delta Bravo</h5>
                              </div>
                              <div class="col-4">
                                  <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                      <i class="fa fa-heart-o txt_white pr-1"></i>
                                      <span>53</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <div class="video_tag">
                              <span>India</span>
                          </div>
                          <figure class="vr_img_2">
                              <img src="../../../assets/images/video-thumb-2.jpg" alt="" />
                          </figure>
                          <div class="row vl_info">
                              <div class="col-8">
                                  <h5 class="vr_txt_3">Delta Bravo</h5>
                              </div>
                              <div class="col-4">
                                  <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                      <i class="fa fa-heart-o txt_white pr-1"></i>
                                      <span>53</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <div class="video_tag">
                              <span>India</span>
                          </div>
                          <figure class="vr_img_2">
                              <img src="../../../assets/images/video-thumb-1.jpg" alt="" />
                          </figure>
                          <div class="row vl_info">
                              <div class="col-8">
                                  <h5 class="vr_txt_3">Delta Bravo</h5>
                              </div>
                              <div class="col-4">
                                  <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                      <i class="fa fa-heart-o txt_white pr-1"></i>
                                      <span>53</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <div class="video_tag">
                              <span>India</span>
                          </div>
                          <figure class="vr_img_2">
                              <img src="../../../assets/images/video-thumb-2.jpg" alt="" />
                          </figure>
                          <div class="row vl_info">
                              <div class="col-8">
                                  <h5 class="vr_txt_3">Delta Bravo</h5>
                              </div>
                              <div class="col-4">
                                  <div class="video_like pt-1 d-flex flex-row align-items-center cursor-pointer">
                                      <i class="fa fa-heart-o txt_white pr-1"></i>
                                      <span>53</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="view_more_video">
                  <button class="view_more_video_btn">+ View More</button>
              </div>
          </section>

          <!-- All Video End -->
      </div>

      <!-- Container fluid ends -->
  </div>
  <!-- Dashboard Wrapper End -->


<!-- ********************************************************************************************** -->
<!-- <ion-content> -->   
      </div>
    </div>
  </div>
<!-- </ion-content> -->