<!-- Top Bar Starts -->
<div class="top-bar clearfix">
  <div class="row gutter">
      <div class="col-12">
          <div class="page-title">
              <h3>Create New Merchant Form</h3>
          </div>
      </div>

  </div>
</div>
<!-- Top Bar Ends -->

<div class="announc_form">
  <div class="row">
      <div class="col-lg-12">
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
              <div class="panel mb-3">
                  <div class="panel-body">
                      <div class="styled-input-wrapper">
                          <div class="input-icon">
                              <i class="icon-file-text2"></i>
                          </div>
                          <div class="styled-input">
                              <div class="form-group">
                                  <label for="userName">First Name</label>
                                  <input type="text" formControlName="firstName" class="form-control"
                                      [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                                      placeholder="First Name" />
                                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                      <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="panel mb-3">
                  <div class="panel-body">
                      <div class="styled-input-wrapper">
                          <div class="input-icon">
                              <i class="icon-file-text2"></i>
                          </div>
                          <div class="styled-input">
                              <div class="form-group">
                                  <label for="userName">Last Name</label>
                                  <input type="text" formControlName="lastName" class="form-control"
                                      [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                                      placeholder="Last Name" />
                                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="panel mb-3">
                  <div class="panel-body">
                      <div class="styled-input-wrapper">
                          <div class="input-icon">
                              <i class="icon-file-text2"></i>
                          </div>
                          <div class="styled-input">
                              <div class="form-group">
                                  <label for="userName">Business Name</label>
                                  <input type="text" formControlName="businessName" class="form-control"
                                      [ngClass]="{ 'is-invalid': submitted && f.businessName.errors }"
                                      placeholder="Business Name" />
                                  <div *ngIf="submitted && f.businessName.errors" class="invalid-feedback">
                                      <div *ngIf="f.businessName.errors.required">Business Name is required</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="panel mb-3">
                  <div class="panel-body">
                      <div class="styled-input-wrapper">
                          <div class="input-icon">
                              <i class="icon-file-text2"></i>
                          </div>
                          <div class="styled-input">
                              <div class="form-group">
                                  <label for="userName">Mobile No</label>
                                  <input type="text" formControlName="mobile" class="form-control"
                                      [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
                                      placeholder="Mobile No" />
                                  <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                      <div *ngIf="f.mobile.errors.required">Mobile No is required</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="panel mb-3">
                  <div class="panel-body">
                      <div class="styled-input-wrapper">
                          <div class="input-icon">
                              <i class="icon-file-text2"></i>
                          </div>
                          <div class="styled-input">
                              <div class="form-group">
                                  <label for="userName">Email</label>
                                  <input type="text" formControlName="email" class="form-control"
                                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email" />
                                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                      <div *ngIf="f.email.errors.required">Email is required</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="panel mb-3">
                  <div class="panel-body">
                      <div class="styled-input-wrapper">
                          <div class="input-icon">
                              <i class="icon-file-text2"></i>
                          </div>
                          <div class="styled-input">
                              <div class="form-group">
                                  <label for="userName">Address</label>


                                  <agm-map [latitude]="base_lat" [longitude]="base_lng" [zoom]="zoom" [disableDefaultUI]="false"
                                  [zoomControl]="false">
                                  <agm-marker [latitude]="location_lat" [longitude]="location_lng" [markerDraggable]="true"
                                    (dragEnd)="markerDragEnd($event)">
                                    <agm-info-window>
                                      <strong>{{ address }}</strong>
                                    </agm-info-window>
                                  </agm-marker>
                                 </agm-map>

                                 <input formControlName="address"  class="form-control" [(ngModel)]="address" name="address"
                                 [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                                 placeholder="Address"  style="width: 100%;" [(ngModel)]="address" ngx-google-places-autocomplete  #placesRef="ngx-places"
                                 (onAddressChange)="handleAddressChange($event)" />
                                  <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                      <div *ngIf="f.address.errors.required">Address is required</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="panel mb-3">
                  <div class="panel-body">
                      <div class="styled-input-wrapper">
                          <div class="input-icon">
                              <i class="icon-file-text2"></i>
                          </div>
                          <div class="styled-input">
                              <div class="form-group">
                                  <label for="userName">Location</label>
                                  <input formControlName="location"  [disabled]="false" class="form-control" [(ngModel)]="address" name="address"
                                      [ngClass]="{ 'is-invalid': submitted && f.location.errors }"
                                      placeholder="Location">
                                  <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                                      <div *ngIf="f.location.errors.required">Location is required</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        

              <div class="panel mb-3">
                  <div class="panel-body">
                      <div class="styled-input-wrapper">
                          <div class="input-icon">
                              <i class="icon-file-text2"></i>
                          </div>
                          <div class="styled-input">
                              <div class="form-group">
                                  <label for="summary">Summary</label>
                                  <textarea type="text" formControlName="summary" style="height: 70px;" class="form-control"
                                      [ngClass]="{ 'is-invalid': submitted && f.summary.errors }"
                                      placeholder="Summary"></textarea>
                                  <div *ngIf="submitted && f.summary.errors" class="invalid-feedback">
                                      <div *ngIf="f.summary.errors.required">Summary is required</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="panel mb-3">
                  <div class="panel-body">
                      <div class="styled-input-wrapper">
                          <div class="input-icon">
                              <i class="icon-file-text2"></i>
                          </div>
                          <div class="styled-input">
                              <div class="form-group">
                                  <label for="userName">Upload Profile Image</label>
                                  <input type="file" class="form-control" accept="image/*" (change)="selectImg($event)"/>
                              </div>
                              <div class="flx_0">
                                  <button title="Choose Default Image" class="btn btn-success" type="button" (click)="uploadImg()"> <i class="icon-plus d-block"></i> </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="text-center pb-2">
                  <button type="submit" class="btn btn-success mr-2">Save</button>
                  <button type="reset" class="btn btn-danger">Clear</button>
              </div>
          </form>
      </div>
  </div>
</div>