
 <!--<ion-header>
  <ion-toolbar>
    <ion-title>wallet-point</ion-title>
  </ion-toolbar>
</ion-header>-->



  <!-- Top Bar Starts -->
  <div *ngIf="page_visible">
  <div class="top-bar clearfix">
      <div class="row gutter">
          <div class="col-lg-12">
              <div class="page-title">
                  <h3>Wallet Point</h3>
              </div>
          </div>

      </div>
  </div>
  <!-- Top Bar Ends -->

  <h3 class="text-left text-red">Overview</h3>

  <div class="row" style="margin-bottom: 40px;">
     
      <div class="col-lg-3 col md-6">
          <div class="panel yellow_panel">
              <div class="sessions">
                  <h2 class="left" style="color: black;">{{C_today_value}} <i class="icon-direction up"></i></h2>
                  <div  class="graph w-100 invoice" style="width: 100%;"></div>
              </div>

              <div id="chart">
                <apx-chart
                  [series]="chartOptions1.series"
                  [chart]="chartOptions1.chart"
                  [xaxis]="chartOptions1.xaxis"
                  [stroke]="chartOptions1.stroke"
                  [tooltip]="chartOptions1.tooltip"
                  [dataLabels]="chartOptions1.dataLabels"
                ></apx-chart>
              </div>

              <h5 class="info">Today Credit</h5>
          </div>
      </div>
      <div class="col-lg-3 col md-6">
        <div class="panel yellow_panel">
            <div class="sessions">
                <h2 class="left" style="color: black;">{{D_today_value}} <i class="icon-direction up"></i></h2>
                <div  class="graph w-100 invoice" style="width: 100%;"></div>
            </div>

            <div id="chart">
                <apx-chart
                  [series]="chartOptions2.series"
                  [chart]="chartOptions2.chart"
                  [xaxis]="chartOptions2.xaxis"
                  [stroke]="chartOptions2.stroke"
                  [tooltip]="chartOptions2.tooltip"
                  [dataLabels]="chartOptions2.dataLabels"
                ></apx-chart>
              </div>


            <h5 class="info">Today Debit</h5>
        </div>
    </div>
      <div class="col-lg-3 col md-6">
          <div class="panel yellow_panel">
              <div class="sessions">
                  <h2 class="left"  style="color: black;" >{{C_total_value}} <i class="icon-direction up"></i></h2>
                  <div  class="graph w-100 invoice" style="width: 100%;"></div>
              </div>
              <div id="chart">
                <apx-chart
                  [series]="chartOptionss1.series"
                  [chart]="chartOptionss1.chart"
                  [xaxis]="chartOptionss1.xaxis"
                  [stroke]="chartOptionss1.stroke"
                  [tooltip]="chartOptionss1.tooltip"
                  [dataLabels]="chartOptionss1.dataLabels"
                ></apx-chart>
              </div>
              <h5 class="info">Total Credit</h5>
          </div>
      </div>
      <div class="col-lg-3 col md-6">
          <div class="panel yellow_panel">
              <div class="sessions">
                  <h2 class="left" style="color: black;">{{D_total_value}} <i class="icon-direction up"></i></h2>
                  <div class="graph w-100 invoice" style="width: 100%;"></div>
              </div>
              <div id="chart">
                <apx-chart
                  [series]="chartOptionss2.series"
                  [chart]="chartOptionss2.chart"
                  [xaxis]="chartOptionss2.xaxis"
                  [stroke]="chartOptionss2.stroke"
                  [tooltip]="chartOptionss2.tooltip"
                  [dataLabels]="chartOptionss2.dataLabels"
                ></apx-chart>
              </div>
              <h5 class="info">Total Debit</h5>
          </div>
      </div>
  </div>


  <div class="row">
      <div class="col-md-6">
          <div class="panel" style="background: #ffffff !important;" >
              <h3 class="text-left txt_bold" style="color: black;">Monthly Report</h3>
            
              <div id="chart1">
                <apx-chart
                  [series]="chartOptionss.series"
                  [chart]="chartOptionss.chart"
                  [xaxis]="chartOptionss.xaxis"
                  [stroke]="chartOptionss.stroke"
                  [tooltip]="chartOptionss.tooltip"
                  [dataLabels]="chartOptionss.dataLabels"
                ></apx-chart>
              </div>
              
          </div>
      </div>
      <div class="col-md-6">
        <div class="panel" style="background: #ffffff !important;" >
            <h3 class="text-left txt_bold"  style="font-weight: 800;color: black;">Total Report</h3>
          
            <div id="chart">
              <apx-chart
                [series]="chartOptionss.series"
                [chart]="chartOptionss.chart"
                [xaxis]="chartOptionss.xaxis"
                [stroke]="chartOptionss.stroke"
                [tooltip]="chartOptionss.tooltip"
                [dataLabels]="chartOptionss.dataLabels"
              ></apx-chart>
            </div>
            
        </div>
    </div>
  </div>   
 

  <div class="pt-2">
    <div class="panel panel-red">
        <div class="panel-heading mb-0 pb-0">
            <h4 class="text-left">Credit Details</h4>
            <h4 class="text-left" style="float: right;">
                <!-- <mat-form-field appearance="legacy">
                    <mat-label style="color: white;font-weight: 600;font-size: 17px;">Choose Date Range</mat-label>
                    <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRange">
                      <input style="width: 70px;" matStartDate formControlName="start" placeholder="Start Date" #dateRangeStart>
                      <input matEndDate formControlName="end" placeholder="End Date"  #dateRangeEnd
                      (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)"
                      >
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field> -->
                <!-- <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="EXCEL"  style="margin-right: 0.5em; margin-bottom: 10px;">Export</button> -->
               </h4>
        </div>
        <div class="panel-body table-responsive pb-0">
            <table class="table no-margin text-center">
                <thead>
                    <tr>
                              <th>S.No</th>
                              <th>Date & Time</th>
                              <th>Order Id</th>
                              <th>User Id</th>
                              <th>Product Details</th>
                              <th>Note</th>
                              <th>Quantity</th>
                              <th>Price</th>
                              <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                 <ng-container  *ngFor="let order of corderslist; let i = index">
                    <tr *ngIf="corderslist.length !== 0">
                        <td>
                            {{i+1}}
                        </td>
                        <td>

                            {{order.order_detail.order_mst.order_date}}
                        </td>
                        <td>
                            {{order.order_detail.order_id}}
                        </td>
                        <td>
                            {{order.order_detail.order_mst.customer_info.profile_id}} 
                            <!-- {{order.order_detail.order_mst.customer_info.profile_first_name}} -->
                        </td>
                        <td>
                            <ng-container  *ngFor="let item of order.product_details">
                                <p>{{item.product.prod_id}} & {{item.product.prod_name}} x {{item.prod_qty}}</p>
                            </ng-container>
                            <!-- {{order.order_detail.order_mst.order_no}} -->
                        </td>
                        <td>
                        </td>
                        <td>
                            {{order.order_qty}}
                            <!-- {{order.product_details.length}} -->
                        </td>
                        <td>
                            {{order.order_value}}
                        </td>
                        <td>
                            Credit
                            <!-- <p *ngIf="order.order_detail.order_dtl_status == 'B'">Booked</p>
                            <p *ngIf="order.order_detail.order_dtl_status == 'A'">Accepted</p>
                            <p *ngIf="order.order_detail.order_dtl_status == 'C'">Cancelled</p>
                            <p *ngIf="order.order_detail.order_dtl_status == 'P'">Pickedup</p>
                            <p *ngIf="order.order_detail.order_dtl_status == 'D'">Delivered</p> -->
                            <!-- {{order.order_detail.order_dtl_status}} -->
                        </td>

                     </tr>	              
                    </ng-container>
                    <tr *ngIf="corderslist.length == 0">
                        <td colspan="10">No Record Found</td>
                     </tr>
                                           
                </tbody>
            </table>
        </div>
    </div>
</div>

  <div class="pt-3">
      <h4 class="text-left text-red">Debit Details</h4>

      <div class="panel panel-yellow pt-0">
          <div class="panel-body">
              <div class="table-responsive">
                  <table class="table table-hover no-margin">
                      <thead>
                          <tr>
                              <th>S.No</th>
                              <th>Date & Time</th>
                              <th>Order Id</th>
                              <th>Product Id</th>
                              <th>User Id</th>
                              <th>Product Details</th>
                              <th>Note</th>
                              <th>Quantity</th>
                              <th>Price</th>
                              <th>Status</th>
                          </tr>
                      </thead>
                      <tbody>
                          <!-- <tr>
                              <td>1</td>
                              <td>12 jun 2020</td>
                              <td>545451</td>
                              <td>545451</td>
                              <td>545451</td>
                              <td>sample</td>
                              <td>dummy text</td>
                              <td>15</td>
                              <td>1542.00</td>
                              <td>Paid</td>
                          </tr> -->

                          <tr>
                            <td colspan="10">No Record Found</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
