<div class="loading w-100 h-100">
  <div class=" position-relative w-100 h-100 d-flex align-items-center justify-content-center">
  <div class="spinner  spinner-4 d-flex align-items-center justify-content-center">
  <img src="../../../assets/images/logo-loading-3.png">
  </div>
  </div>
</div>
<!-- loading Gold Color -->
<div class="loading loading2 w-100 h-100 d-none">
  <div class=" position-relative w-100 h-100 d-flex align-items-center justify-content-center">
  <div class="spinner  spinner-4 d-flex align-items-center justify-content-center">
  <img src="../../../assets/images/logo-loading-2.png">
  </div>
  </div>
</div>
