.add_button{
    background: #A9BD7A;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
    float: right;
}


.warning {
    background: gainsboro;
    color: red !important;
    padding: 7px;
    font-size: 12px;
  }


  .terms {
    background-color: transparent !important;
    height: 450px;
  }