<!-- <ion-content> -->
    <div class="main_wrapper" >
        <app-merch-header></app-merch-header>
        <app-merch-sidemenu></app-merch-sidemenu>
        <div class="dashboard-wrapper h-100">
          <div class="container-fluid h-100">
    <!-- <ion-content> -->
    <!-- ********************************************************************************************** -->
      <!-- Top Bar Starts -->
    
    
    
    
    <!-- ********************************************************************************************** -->
    <!-- <ion-content> -->   
          </div>
        </div>
      </div>
    <!-- </ion-content> -->