.user-details {
    margin: 0px 0px 0px 0px !important;
    // text-align: center;
    // position: relative;
}

ul#header-actions li.list-box a {

    padding: 0px 0px !important;

}


.user-details .user-img img {
    height: 50px !important;
}