<!-- <ion-content> -->
    <div class="main_wrapper" >
        <app-merch-header></app-merch-header>
        <app-merch-sidemenu></app-merch-sidemenu>
        <div class="dashboard-wrapper h-100">
          <div class="container-fluid h-100">
    <!-- <ion-content> -->
    <!-- ********************************************************************************************** -->
      <!-- Top Bar Starts -->
    
        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper">

            <!-- Container fluid Starts -->
            
            
            <div class="vn_2 vn_pr_1  bg_dark">
                <div class="vn_head">
                    <span class="bc_link">Video</span>
                    <span class="pl-2 pr-2">></span>
                    <a href='video-list-page-new.html' class="bc_link">Top Trending</a>
                    <span class="pl-2 pr-2">></span>
                    <span class="bc_text">Video Title</span>
                </div>
                <div class="row m-0">
                    <div class="col-lg-9">
                        <section class="vv_row_1">
    
                            <div class="video_panel_1 d-flex flex-column">
                                <span class="poupup_cv">X</span>
                            <div class="vv_r2 flx_1 position-relative">
                                <video controls class="video_vv">
                                    <source src="video/home_video.mp4" type="video/mp4">
                                  Your browser does not support the video tag.
                                  </video> 
                            </div>
                            <div class="vv_r2_info pt-4 flx_0">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <h3 class="vv_head_1 mb-0">American Made</h3>
                                        <div class="vr_txt_2 pt-1 d-flex flex-row align-items-center">
                                           <span class="pr-3">25 Jun 2017</span>
                                           <span class="pl-2 video_tg_label">India</span> </div>
                                        <div class="vv_video_action pt-2 d-flex flex-row">
                                            <div class="view_video pr-3">
                                                <i class="fa fa-eye va_txt_icon"></i> <span class="va_txt_1"> 18.5k views</span>
                                            </div>
                                            <div class="view_video pr-3">
                                                <i class="fa  fa-share-alt va_txt_icon"></i> <span class="va_txt_1"> Share</span>
                                            </div>
                                            <div class="view_video">
                                                <i class="fa  fa-download va_txt_icon"></i> <span class="va_txt_1"> +15K</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 text-right">
                                        
                                        <div class="vv_video_action vv_video_action_2 d-flex align-items-center justify-content-end flex-row">
                                            <div class="pr-4 view_video full_screen">
                                                <i class="fa fa-flag va_txt_icon"></i> <span class="va_txt_1"></span>
                                            </div> 
                                            <div class="pr-4 view_video full_screen full_screen_btn">
                                                <i class="fa fa-arrows-alt va_txt_icon"></i> <span class="va_txt_1"> Full Screen</span>
                                            </div> 
                                            <div class="view_video pr-4">
                                              <img src="../../../assets/images/comments-icon.png" alt="">  <span class="va_txt_1"> +25k</span>
                                            </div>
                                            <div class="view_video">
                                                <img src="../../../assets/images/like-icon-2.png" alt=""> <span class="va_txt_1"> +25k</span>
                                            </div>
                                            
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                        </div>
    
                            <div class="vn_desc pt-3">
                                <div class="vn_d_head text-center">
                                    <span class="active_vn video_desc_btn">Description</span>
                                    <b class="slash_txt">/</b>
                                    <span class="video_review_btn">Reivew</span>
                                </div>
    
                                <div class="vn_des_info text-left p-2">
                                    <div class="vn_desc_1 video_desc_info">
                                        <p class="text_over">
                                        Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit. Nam vulputate libero quis nisi euismod 
                                        
                                    </p>
                                    <div class="text-center">
                                        <span class="vn_rm cursor-pointer">Read More  <i class="fa fa-angle-down"></i> </span>
                                    </div>
                                    </div>
    
    
                                    <div class="vn_review video_reivew_info pt-2 flow_hide">
                                        <div class="video_comm d-flex">
                                            <div class="flx_0 pr-2">
                                                <img src="../../../assets/images/like-arise-dashboard.jpg" class="c_img" alt="">
                                            </div>
                                            <div class="flx_1">
                                                <textarea class="video_txt w-100"></textarea>
                                            </div>
                                            <div class="flx_0">
                                                <button class="post_btn"> Post</button>
                                            </div>
                                        </div>
    
                                        <div class="vn_com_mes">
                                            <div class="chat_pro flx_1">
                                                <ul>
                                                    <li class="pb-3">
                                                        <div class="d-flex">
                                                            <div class="flx_1">
                                                                <div class="d-flex">
                                                                    <div class="flx_0 pr-2">
                                                                        <img src="../../../assets/images/like-arise-dashboard.jpg" class="c_img" alt="">
                                                                    </div>
                                                                    <div class="flx_1 line_n">
                                                                        <span class="c_msg pb-2"> Profile Name</span>
                                                                        <p class="c_name mb-0">sample username</p>  
                                                                        <div class="pt-1">
                                                                            <span class="hrs_coment">22h</span> <span class="cursor-pointer comment_rply">Reply</span>
                                                                        </div>                                  
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="flx_0 video_like">
                                                                <i class="fa fa-heart-o cursor-pointer"></i> 
                                                                <span class="d-block">53</span>
                                                            </div>
                                                        </div>
                                                       
                                                    </li>
                                                    <li class="pb-3">
                                                        <div class="d-flex">
                                                            <div class="flx_1">
                                                                <div class="d-flex">
                                                                    <div class="flx_0 pr-2">
                                                                        <img src="../../../assets/images/like-arise-dashboard.jpg" class="c_img" alt="">
                                                                    </div>
                                                                    <div class="flx_1 line_n">
                                                                        <span class="c_msg pb-2"> Profile Name</span>
                                                                        <p class="c_name mb-0">sample username</p>  
                                                                        <div class="pt-1">
                                                                            <span class="hrs_coment">22h</span> <span class="cursor-pointer comment_rply">Reply</span>
                                                                        </div>                                      
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="flx_0 video_like">
                                                                <i class="fa fa-heart-o cursor-pointer"></i> 
                                                                <span class="d-block">53</span>
                                                            </div>
                                                        </div>
                                                       
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </section>
                    </div>
                    <div class="col-lg-3">
                        <div class="ads pl-3">
                            <div class="pb-4">
                                <img src="../../../assets/images/video-thumb-2.jpg" alt="" class="w-100"/>
                            </div>
                            <div class="pb-4">
                                <img src="../../../assets/images/video-thumb-2.jpg" alt="" class="w-100"/>
                            </div>
                        </div>
                    </div>
                </div>
    
    
                <div class="pt-4 pb-5">
                    <h5 class="vr_txt_5 pb-4 pl-4">Top Trendings</h5>
    
                    <div class="vr_2_video">
    
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                                <div class="video_tag">
                                    <span>India</span>
                                </div>
                                <figure class="vr_img_2">
                                    <img src="../../../assets/images/video-thumb-1.jpg" alt="">
                                </figure>
                                <div class="row vl_info">
                                    <div class="col-8">
                                        <h5 class="vr_txt_3">Delta Bravo</h5>
                                    </div>
                                    <div class="col-4">
                                        <div class="video_like pt-1 d-flex flex-row align-items-center  cursor-pointer">
                                            <i class="fa fa-heart-o txt_white pr-1"></i> 
                                            <span>53</span>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                                <div class="video_tag">
                                    <span>India</span>
                                </div>
                                <figure class="vr_img_2">
                                    <img src="../../../assets/images/video-thumb-2.jpg" alt="">
                                </figure>
                                <div class="row vl_info">
                                    <div class="col-8">
                                        <h5 class="vr_txt_3">Delta Bravo</h5>
                                    </div>
                                    <div class="col-4">
                                        <div class="video_like pt-1 d-flex flex-row align-items-center  cursor-pointer">
                                            <i class="fa fa-heart-o txt_white pr-1"></i> 
                                            <span>53</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                                <div class="video_tag">
                                    <span>India</span>
                                </div>
                                <figure class="vr_img_2">
                                    <img src="../../../assets/images/video-thumb-1.jpg" alt="">
                                </figure>
                                <div class="row vl_info">
                                    <div class="col-8">
                                        <h5 class="vr_txt_3">Delta Bravo</h5>
                                    </div>
                                    <div class="col-4">
                                        <div class="video_like pt-1 d-flex flex-row align-items-center  cursor-pointer">
                                            <i class="fa fa-heart-o txt_white pr-1"></i> 
                                            <span>53</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                                <div class="video_tag">
                                    <span>India</span>
                                </div>
                                <figure class="vr_img_2">
                                    <img src="../../../assets/images/video-thumb-2.jpg" alt="">
                                </figure>
                                <div class="row vl_info">
                                    <div class="col-8">
                                        <h5 class="vr_txt_3">Delta Bravo</h5>
                                    </div>
                                    <div class="col-4">
                                        <div class="video_like pt-1 d-flex flex-row align-items-center  cursor-pointer">
                                            <i class="fa fa-heart-o txt_white pr-1"></i> 
                                            <span>53</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                                <div class="video_tag">
                                    <span>India</span>
                                </div>
                                <figure class="vr_img_2">
                                    <img src="../../../assets/images/video-thumb-1.jpg" alt="">
                                </figure>
                                <div class="row vl_info">
                                    <div class="col-8">
                                        <h5 class="vr_txt_3">Delta Bravo</h5>
                                    </div>
                                    <div class="col-4">
                                        <div class="video_like pt-1 d-flex flex-row align-items-center  cursor-pointer">
                                            <i class="fa fa-heart-o txt_white pr-1"></i> 
                                            <span>53</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                                <div class="video_tag">
                                    <span>India</span>
                                </div>
                                <figure class="vr_img_2">
                                    <img src="../../../assets/images/video-thumb-2.jpg" alt="">
                                </figure>
                                <div class="row vl_info">
                                    <div class="col-8">
                                        <h5 class="vr_txt_3">Delta Bravo</h5>
                                    </div>
                                    <div class="col-4">
                                        <div class="video_like pt-1 d-flex flex-row align-items-center  cursor-pointer">
                                            <i class="fa fa-heart-o txt_white pr-1"></i> 
                                            <span>53</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="pl-4 pr-4">
                        <div class="view_more_video">
                            <button class="view_more_video_btn">+ View More</button>
                        </div>
                    </div>
                    
                </div>
    
    
            
    
            </div>
    
    
    
    
            
            <!-- Container fluid ends -->
            
        </div>
        <!-- Dashboard Wrapper End -->
    
    
    
    <!-- ********************************************************************************************** -->
    <!-- <ion-content> -->   
          </div>
        </div>
      </div>
    <!-- </ion-content> -->