 <!-- <ion-header>
  <ion-toolbar>
    <ion-title>rider-picked</ion-title>
  </ion-toolbar>
</ion-header>-->



  <!-- Top Bar Starts -->
  <div class="top-bar clearfix">
      <div class="row gutter">
          <div class="col-lg-12">
              <div class="page-title">
                  <h3>Rider Picked</h3>
              </div>
          </div>

      </div>
  </div>
  <!-- Top Bar Ends -->


  <div class="mp_panel">

      <div class="pt-2">
          <div class="panel panel-red">
              <div class="panel-heading mb-0 pb-0">
                  <h3 class="text-left text-red">Pending Approval</h3>
              </div>
              <div class="panel-body pb-0 table-responsive product_table td_center">
                  <table class="table no-margin">
                      <thead>
                          <tr>
                              <th>Order Id</th>
                              <th>User Id</th>
                              <th>Product Id</th>
                              <th>Product Details</th>
                              <th>Qty</th>
                              <th>Price</th>
                              <th width="150">
                                  status
                              </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>
                                  <div class="text-center cart_col">
                                      <span
                                          class="cart_icon d-inline-flex align-items-center justify-content-center">
                                          <i class="icon-shopping-cart"></i>
                                      </span>
                                      <h5 class="mb-0">15421</h5>
                                  </div>
                              </td>
                              <td>
                                  <div class="text-center">
                                      <span
                                          class="cart_icon d-inline-flex align-items-center justify-content-center">
                                          <i class="icon-shopping-cart"></i>
                                      </span>
                                      <h5 class="mb-0">15421</h5>
                                  </div>
                              </td>
                              <td>
                                  <div class="text-center">
                                      <span
                                          class="cart_icon d-inline-flex align-items-center justify-content-center">
                                          <i class="icon-shopping-cart"></i>
                                      </span>
                                      <h5 class="mb-0">15421</h5>
                                  </div>
                              </td>
                              <td>
                                  <div class="cart_info">
                                      <p>
                                          product details here
                                      </p>
                                      <p class="mb-0">
                                          Customer Note
                                      </p>
                                  </div>
                              </td>
                              <td>
                                  25
                              </td>
                              <td>
                                  154.00
                              </td>
                              <td>
                                  <a href="#" class="btn btn-sm btn-danger">waiting for rider</a>

                              </td>
                          </tr>
                        

                      </tbody>
                  </table>
              </div>
          </div>

       
      </div>

      <div class="pt-5">
          <div class="panel panel-red">
              <div class="panel-heading mb-0 pb-0">
                  <h3 class="text-left text-blue">Approved History</h3>
              </div>
              <div class="panel-body pb-0 table-responsive product_table td_center">
                  <table class="table no-margin">
                      <thead>
                          <tr>
                              <th>Order Id</th>
                              <th>User Id</th>
                              <th>Product Id</th>
                              <th>Product Details</th>
                              <th>Qty</th>
                              <th>Price</th>
                              <th width="150">
                                  Status
                              </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>
                                  <div class="text-center cart_col">
                                      <span
                                          class="cart_icon d-inline-flex align-items-center justify-content-center">
                                          <i class="icon-shopping-cart"></i>
                                      </span>
                                      <h5 class="mb-0">15421</h5>
                                  </div>
                              </td>
                              <td>
                                  <div class="text-center">
                                      <span
                                          class="cart_icon d-inline-flex align-items-center justify-content-center">
                                          <i class="icon-shopping-cart"></i>
                                      </span>
                                      <h5 class="mb-0">15421</h5>
                                  </div>
                              </td>
                              <td>
                                  <div class="text-center">
                                      <span
                                          class="cart_icon d-inline-flex align-items-center justify-content-center">
                                          <i class="icon-shopping-cart"></i>
                                      </span>
                                      <h5 class="mb-0">15421</h5>
                                  </div>
                              </td>
                              <td>
                                  <div class="cart_info">
                                      <p>
                                          product details here
                                      </p>
                                      <p class="mb-0">
                                          Customer Note
                                      </p>
                                  </div>
                              </td>
                              <td>
                                  25
                              </td>
                              <td>
                                  154.00
                              </td>
                              <td>
                                  <a href="#" class="btn btn-sm btn-info w-100 mb-2">Rider id</a>
                                  <a href="#" class="btn btn-sm btn-success w-100 mb-2">Status</a>
                              </td>
                          </tr>
                         

                      </tbody>
                  </table>
              </div>
          </div>
        
          
          
      </div>
  </div>
